body{
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

.header {
  background-color: #111;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;

  .navigation-button {
    a {
      color: #FFF;
      padding: 20px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.content{
  padding: 20px;

  h2 {
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }
}

.active {
  background-color: #228B22; //#6B8E23 is also good choice
}


.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}

.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}
